In [1]:
import pandas as pd

df = pd.read_csv('files/my_data.csv')
df.head()

,ts,platform,ms_played,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp
0,2017-09-27T02:12:44Z,"iOS 11.0 (iPhone8,4)",251000,Crave You,Daniela Andrade,Crave You,trackdone,trackdone,True,NaN,False,1506478111159
1,2022-03-16T01:05:55Z,"iOS 15.3.1 (iPhone12,8)",304840,Uprising,Muse,The Resistance,fwdbtn,trackdone,False,NaN,False,1647392450901
2,2019-11-26T18:29:19Z,"iOS 13.1.3 (iPhone9,3)",7786,Regret - 2015 Remaster,New Order,Republic,fwdbtn,endplay,True,NaN,False,1574790070525
3,2017-09-27T15:59:34Z,"iOS 11.0 (iPhone8,4)",98221,Part II,Paramore,Paramore,trackdone,endplay,True,NaN,False,1506527874643
4,2017-12-18T20:14:11Z,"iOS 11.1.2 (iPhone8,4)",5642,...Baby One More Time,Britney Spears,...Baby One More Time (Digital Deluxe Version),clickrow,endplay,True,NaN,False,1513628042232

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215138 entries, 0 to 215137
Data columns (total 12 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ts                                 215138 non-null  object
 1   platform                           215138 non-null  object
 2   ms_played                          215138 non-null  int64
 3   master_metadata_track_name         214038 non-null  object
 4   master_metadata_album_artist_name  214038 non-null  object
 5   master_metadata_album_album_name   214038 non-null  object
 6   reason_start                       212067 non-null  object
 7   reason_end                         212185 non-null  object
 8   shuffle                            215138 non-null  bool
 9   skipped                            35930 non-null   float64
 10  offline                            215138 non-null  bool
 11  offline_timestamp                  215138 non-null  int64
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 16.8+ MB

In [5]:
df.describe()

          ms_played       skipped  offline_timestamp
count  2.151380e+05  35930.000000       2.151380e+05
mean   1.309370e+05      0.643167       1.188737e+12
std    1.844673e+05      0.479072       6.779915e+11
min    0.000000e+00      0.000000      -2.872661e+09
25%    5.479000e+03      0.000000       1.431791e+12
50%    1.360870e+05      1.000000       1.541558e+12
75%    2.238400e+05      1.000000       1.609100e+12
max    2.447009e+07      1.000000       1.671408e+12